# coding: utf-8

# #####
#
# Defaults.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# ATTENTION:
#    LEAVE RIGHT SIDE EMPTY for a 'False' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings you can use in 'conf.py'

# Graphviz
# https://www.sphinx-doc.org/en/master/usage/extensions/graphviz.html

# graphviz_output_format = png svg
graphviz_output_format = svg

# Plantuml
# https://pypi.org/project/sphinxcontrib-plantuml/

# plantuml_output_format = png svg svg_img svg_obj none
plantuml_output_format = svg

# plantuml_latex_output_format = eps pdf png none
plantuml_latex_output_format = eps
