# coding: utf-8

# #####
#
# Overrides.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# ATTENTION:
#    LEAVE RIGHT SIDE EMPTY for a 'False' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'
html_theme = sphinx_typo3_theme
pygments_style = none


[html_theme_options]

; for theme sphinx_typo3_theme

; IMPORTANT!
; Leave empty for False value!
;
; Rendering for docs.typo3.org?
;    docstypo3org = anything_truthy  # means YES!
;    docstypo3org =                  # means NO!

docstypo3org   =
show_legalinfo =

show_copyright    = yes
show_last_updated = yes
show_revision     = yes
show_sourcelink   = yes
show_sphinx       = yes
h2edit_url = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/WritingDocsOfficial/GithubMethod.html


[extensions]

# Add to list of extensions[] as defined in 'conf.py'.
# Mention the extensions you need. Some are loaded
# by default and need not specifically be mentioned.
#
# Activate additionally (if available):
#    any_name_graphviz = sphinx.ext.graphviz
#    any_name_2 =
#    any_name_3 =

# since this file Overrides.cfg is under control of the admin
# Sphinx extensions can even be loaded if they are not in the
# list of legal Sphinx extensions. The list is given in conf.py.
