# coding: utf-8

#   Only " ;" can start an inline comment.
#   This is: blank PLUS semicolon!

[general]

project     = TYPO3 Docker container v2.3.0 for Documentation Rendering
              and more
release     = 0.1.2-draft
copyright   = TYPO3 Documentation Team
description =
   Everything about the container: How it works, how it's developed and build
   and way to use it.

todo_include_todos = true
# todo_link_only = true

[html_theme_options]

github_branch        = documentation-draft
github_repository    = t3docs/docker-render-documentation
project_contact      =
project_discussions  =
project_home         =
project_issues       = https://github.com/t3docs/docker-render-documentation/issues/
project_repository   = https://github.com/t3docs/docker-render-documentation/


